@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Roboto:wght@300;400;700&display=swap");
@import "./profile.scss";
@import "./you.scss";
@import "./about.scss";
@import "./expert.scss";
@import "./order.scss";
@import "./expert.info.scss";

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header {
  background: #fffdfd;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0px;

  @media (max-width: 768px) {
    height: 50px;
    font-size: 12px;
  }
}
.gray {
  color: #858585;
}
