.main {
  margin: 40px 0 100px 0;
  color: #000;
  @media (max-width: 768px) {
    margin: 20px 0 80px 0;
  }
  &__title {
    letter-spacing: -0.03em;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    @media (max-width: 768px) {
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__from {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
.table {
  max-width: 1080px;
  margin: 35px auto;
  @media (max-width: 768px) {
    margin: 20px auto;
  }
  &__item {
    padding: 20px;
    height: 60px;
    background: #fafafa;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.checked {
      background: rgba(34, 160, 148, 0.1);
      border: 1px solid #ffffff;
    }
    @media (max-width: 768px) {
      padding: 5px;
      height: 80px;
      gap: 25px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #0c0c0c;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 7px;
    color: #22a094;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
  }
}
